.navbar-nav li {
    display: inline-block;
}

.nav-item {
    margin: 0px 50px 0px 50px;
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-item:hover {
    -webkit-box-shadow: 0 2px white;
}
